<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consectetur dolorem velit ducimus officiis, doloribus, commodi iusto labore nihil architecto, recusandae quasi! Consectetur impedit vero, perferendis voluptate blanditiis cumque odit.
      </p>
    </section>
    <address>
      <h2 class="footer__title">
        Contato
      </h2>
      <ul>
        <li><img src="https://img.icons8.com/ios/50/000000/apple-mail.png"/> email@email.com</li>
        <li><img src="https://img.icons8.com/fluency-systems-regular/48/000000/call-squared.png"/>(00)0000-0000</li>
        <li><img src="https://img.icons8.com/material-outlined/48/000000/whatsapp--v1.png"/>(00)0 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyrigth">
    &copy; Todos os direitos reservados.
  </section>
</footer>
